:root {
        max-width: 600px;
        margin: 0 auto;
        font-size: 24px;
        line-height: 1.6;
        font-family: sans-serif;
        background-color: #eee;
      }

      main > * {
        margin-block: 1rem;
      }

      input {
        display: block;
        font-size: 1rem;
        font-family: inherit;
        margin: 5px auto;
        border: black, 1px, solid;
        border-radius: 5px;
      }

      h1, form > p {
        text-align: center
      }

      table {
        width: 100%;
      }

      caption {
        text-align: center;
        font-size: 120%;
        font-weight: bold;
      }

      td, th{
        text-align: left
      }

      .Delete {
        border: black, 1px, solid;
        border-radius: 5px;
      }
