:root {
        max-width: 600px;
        margin: 0 auto;
        font-size: 24px;
        line-height: 1.6;
        font-family: sans-serif;
        background-color: #eee;
      }

      main > * {
        margin-block: 1rem;
      }

      label,
      input {
        display: block;
        font-size: 1rem;
        font-family: inherit;
      }

      h1 {
        text-align: center
      }

      table {
        width: 100%;
      }

      caption {
        text-align: center;
        font-size: 120%;
        font-weight: bold;
      }

      th {
        text-align: center;
      }