      body {
        max-width: 800px;
        margin: 0 auto;
        font-size: 24px;
        line-height: 1.6;
        font-family: sans-serif;
        background-color: #ffffff;
      }

      main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      
      h1 {
        grid-column: span 1;
      }

      img {
        max-width: 100%;
        height: auto;
        grid-column: span 1;
        object-fit: contain;
      }

      table, form {
        grid-column: span 2;
      }

      input {
        display: block;
        font-size: 1.5rem;
        font-family: inherit;
        margin: 5px auto;
        border: 1px solid black;
        border-radius: 5px;
      }

      h1, form > p {
        text-align: center
      }

      table {
        width: 100%;
      }

      caption {
        text-align: center;
        font-size: 120%;
        font-weight: bold;
      }

      td, th{
        text-align: left
      }

      .Delete {
        border: 1px solid black;
        border-radius: 5px;
      }